<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Ezbooks | Libros en venta</title>
  <meta th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<main class="container mx-auto table-responsive">
  <h1 class="display-5 fw-bold mt-4">Tus libros en venta</h1>
  <table class="table table-hover text-start">
    <thead class="table-header">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Autor</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="libro : ${listaLibros}">
        <td th:text="${libro.getId()}">id</td>
        <td th:text="${libro.getNombre()}">nombre</td>
        <td th:text="${libro.getAutor()}">autor</td>
        <td th:text="${libro.getPrecio()}">precio</td>
        <td>
          <a class="mx-2" th:href="@{/user/form/edit-book/{id}(id=${libro.id})}"><i class="fa-solid fa-pen-to-square"></i></a>
          <a class="mx-2" th:href="@{/user/form/delete-book/{id}(id=${libro.id})}"><i class="fa-solid fa-trash"></i></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</main>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>