<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Ezbooks | Transacciones</title>
  <meta th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<main class="container mx-auto table-responsive">
  <h1 class="display-5 fw-bold mt-4">Transacciones</h1>
  <table class="table table-hover text-start">
    <thead class="table-header">
    <tr>
      <th>ID</th>
      <th>Comprador</th>
      <th>Vendedor</th>
      <th>Libro</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaccion : ${listaLibros}">
      <td th:text="${transaccion.getId()}">id</td>
      <td th:text="${transaccion.getComprador()}">comprador</td>
      <td th:text="${transaccion.getVendedor()}">vendedor</td>
      <td><a class="mx-2" th:href="@{/user/transaction/{id}(id=${transaccion.getIdLibro()})}"></a>libro</td>
      <td th:text="${transaccion.getTotal()}">total</td>
    </tr>
    </tbody>
  </table>
</main>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>