<nav class="d-flex p-3 flex-column">
  <div class="mx-auto">
    <h3 class="mb-1 text-logo">Ezbooks</h3>
  </div>
  <div class="mx-auto">
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Inicio</a>
      <a class="nav-link fw-bold py-1 px-0" href="#">Productos</a>
      <a class="nav-link fw-bold py-1 px-0" href="#">Login</a>
      <a class="nav-link fw-bold py-1 px-0" href="#">Registrar</a>
    </nav>
  </div>
</nav>