<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ezbooks | Inicio</title>
    <meta th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<main>
    <!-- SEARCH SECTION -->
    <section class="container py-5 pb-4 " style="max-width: 440px">
        <form class="d-flex">
            <input class="form-control" type="text" placeholder="Título">
            <button class="btn btn-secondary my-sm-0 mx-1" type="submit">Buscar</button>
        </form>
    </section>
    <!-- RESULT QUERY SECTION -->
    <section id="#" class="py-2">
        <div class="text-center">
            <h4 class="display-6 fw-bold mb-4">Resultado</h4>
        </div>
        <div class="container">
            <div class="row gap-2 gap-lg-3 justify-content-center">

                <!-- ITEM CARD -->
                <div class="card mb-3 mx-0" style="max-width: 440px;">
                    <div class="row g-0">
                        <div class="col-4 my-3">
                            <img src="img/def.png" class="card-img h-100" alt="Portada libro">
                        </div>
                        <div class="col-8">
                            <div class="card-body pe-0">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as ...</p>
                                <p class="card-text fw-light">Precio: <span>4€</span></p>
                                <a href="" class="btn btn-secondary w-100">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- LAST PRODUCT -->
            </div>
        </div>
    </section>
</main>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>